<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
	 http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
     http://www.springframework.org/schema/util 
     http://www.springframework.org/schema/util/spring-util-2.5.xsd
     http://www.springframework.org/schema/context  
  	 http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <!-- 最小容量 -->
        <property name="corePoolSize" value="10"/>
        <!-- 最大容量 -->
        <property name="maxPoolSize" value="50"/>
        <!-- 线程池维护线程所允许的空闲时间，默认为60s -->
        <property name="keepAliveSeconds" value="300"/>
        <!-- 缓冲队列最大长度 -->
        <property name="queueCapacity" value="1000"/>
    </bean>
    <!-- 引入staging配置文件 -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:props/jdbc.properties</value>
                <value>classpath:props/error.properties</value>
            </list>
        </property>
        <property name="fileEncoding" value="utf-8"/>
    </bean>

    <bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
        <property
                name="basePackage"
                value="com.morty.c137.dao"/>
        <property
                name="sqlSessionFactoryBeanName"
                value="sqlSessionFactory"/>
    </bean>

    <bean
            id="sqlSessionFactory"
            class="org.mybatis.spring.SqlSessionFactoryBean">
        <property
                name="dataSource"
                ref="dataSource"/>
        <property
                name="typeAliasesPackage"
                value="com.morty.c137.po"/>
        <property
                name="configLocation"
                value="classpath:mybatis/mybatis-config.xml"/>
        <property
                name="mapperLocations"
                value="classpath:sqlmap/*.xml"/>
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageHelper">
                </bean>
            </array>
        </property>
    </bean>
</beans>
