<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="jobtest">
    <test verbose="1" name="smoke">
        <packages>
            <!--执行mvn test 执行扫描的单测包 如果没有*会找不到 不知道为啥-->
            <package name="com.morty.c137.*"/>
        </packages>
    </test>
</suite>
